[submodule "lib/TransmissionArduino"]
	path = lib/TransmissionArduino
	url = https://github.com/OperatorFoundation/TransmissionArduino.git
[submodule "lib/LovyanGFX"]
	path = lib/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
[submodule "lib/caneta"]
	path = lib/caneta
	url = https://github.com/OperatorFoundation/caneta.git
[submodule "lib/onda"]
	path = lib/onda
	url = https://github.com/OperatorFoundation/onda.git
[submodule "lib/cmake-helpers"]
	path = lib/cmake-helpers
	url = https://github.com/OperatorFoundation/cmake-helpers.git
